<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>optipic</name>
    <displayName><![CDATA[OptiPic]]></displayName>
    <version><![CDATA[1.19.0]]></version>
    <description><![CDATA[OptiPic.io - image optimization via smart CDN. The module automates the process of optimizing and compressing all images on the site according to the recommendations of Google PageSpeed Insights.]]></description>
    <author><![CDATA[Optipic.io]]></author>
    <tab><![CDATA[seo]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>